*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  height: 100vh;
  width: 100%;
  background-color: #87ADFE;
  background: linear-gradient(to bottom right,#87ADFE 0%,#FF77CD 100%);
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-wrap {
  position: relative;
  height: 600px;
  width: 1200px;
  padding: 22px;
}

.header {
  margin-right: 5px;
  position: relative;
  top: 15px;
  float: left;
  width: 72px;
  z-index: 100;
}

.header__item {
  display: block;
  cursor: pointer;
  transition: all .3s ease 0s;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
}

.header__item + .header__item {
  border-top: 1px solid #FF77CD;
}

.header__item--active {
  color: #87ADFE;
}

.header__item-link {
  padding: 13px 3px;
  display: block;
  color: #323232;
  background: #fff;
}

.header__item-icon {
  display: block;
  font-size: 20px;
  line-height: 30px;
}

.header__item:first-child .header__item-link {
  border-radius: 4px 4px 0 0;
}

.header__item:last-child .header__item-link {
  border-radius: 0 0 4px 4px;
}

.header__item:hover .header__item-link {
  color: #FF77CD;
}

.header__item--active .header__item-link {
  color: #87ADFE;
}

















.card-inner {
  padding: 0;
  position: absolute;
  overflow: hidden;
  left: 575px;
  right: 23px;
  top: 40px;
  bottom: 40px;
  height: auto;
  background: #fff;
  opacity: 0;
  visibility: hidden;
  z-index: 8;
  border-radius: 0 4px 4px 0;
  display: none;
}

